.wsumarcs-entry {
    clear: both;
    line-height: 1.8em;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed #ccc;
    overflow: hidden;
}

.entryAudio {
    height: 20px;
    cursor: pointer;
}

.wsumarcs-entryPic {
    display: block;
    float: right;
    margin: 10px;
}

.wsumarcs-entryLx {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: -20px;
}

.wsumarcs-entryAudio {
    height: 20px;
    cursor: pointer;
}

.wsumarcs-entryPs {
    font-decoration: italic;
    font-family: courier;
}

.wsumarcs-entrySe {
    font-weight: bold;
}

.wsumarcs-entrySfx {
    height: 20px;
}

.wsumarcs-entryXe {
    font-style: italic;
}

.wsumarcs-entrySc {
    font-style: italic;
}

.wsumarcs-entrySn {
    font-weight: bold;
}

.wsumarcs-entryVe {
    text-transform: uppercase;
}

.wsumarcs-entryVariant {
    font-family: courier;
}

.wsumarcs-comPic {
    width: 256px;
}

.outline-adj,
.outline-dem,
.outline-inter,
.outline-n,
.outline-num,
.outline-spattemp,
.outline-vi,
.outline-vt {
    text-shadow: 1px 1px 0 #000
}

.outline-n {
    color: #AA0A3C
}

.outline-spattemp {
    color: #FA7850
}

.outline-vi {
    color: #00A0FA
}

.outline-adj {
    color: #006E82
}

.outline-inter {
    color: #8214A0
}

.outline-vt {
    color: #005AC8
}

.outline-dem {
    color: #F0F032
}

.outline-num {
    color: #0AB45A
}
