<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>Dictionaries</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./_assets/favicon.ico"/>
    <!-- Our styles -->
    <link href="./_assets/index.css" rel="stylesheet" />
    </script>
</head>

<body>
    <div class="wrapper">

        <div class="main-panel tl">
            <a href="/{{ languages[0][0] }}/dictionary/"><div class="circle"><h1>{{ languages[0][1] }}</h1></div></a>
        </div>
        <div class="main-panel tr">
            <a href="/{{ languages[1][0] }}/dictionary/"><div class="circle"><h1>{{ languages[1][1] }}</h1></div></a>
        </div>
        <div class="main-panel bl">
            <a href="/{{ languages[2][0] }}/dictionary/"><div class="circle"><h1>{{ languages[2][1] }}</h1></div></a>
        </div>
        <div class="main-panel br">
            <a href="/{{ languages[3][0] }}/dictionary/"><div class="circle"><h1>{{ languages[3][1] }}</h1></div></a>
        </div>
    </div>
</body>

</html>
